<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <a routerLink="/servers">ReloadPage</a
    ><!-- alles gut --- es ist ein absoluter pfad -->
    <a routerLink="servers">ReloadPage</a
    ><!-- als ergebnis Fehler weil /servers/servers- es ist ein relativer Pfad -->
    <a routerLink="../servers">ReloadPage</a
    ><!-- alles gut --- hier gehts eine etage nach oben dann wieder runter-->
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
  </div>
</div>
